<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head%>
</head>
<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <% include partials/header%>
</header>

<div id="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1><%=user.name.last%>, <%=user.name.first%>
                    <p class="lead"></p>
                </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg">
                    <div class="row">
                        <div class="col-sm-12">
                            Clients are able to see their personal data saved inside the database. Elements like: _id or guid are not included since they should not be available for general use. Please note I edited the database image url to access a free to use profile picture to make the application more elegant.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /cont -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-spacer"></div>
            </div>
        </div>
    </div><!-- /cont -->
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12">

            <div class="panel">
                <div class="panel-body">
                    <div class="row col-sm-offset-1">
                        <br>
                        <div class="col-md-2 col-sm-3 text-center">
                            <a class="story-title" href="#"><img alt="" src="<%=user.picture%>" style="width:100px;height:100px" class="img-circle"></a>
                        </div>
                        <div class="col-md-10 col-sm-9">
                            <h3>Current Balance: <%=user.balance%></h3>
                            <hr>
                            <div class="row">
                                <div class="col-xs-9">
                                    <h4>Company: <%=user.company%></h4>
                                    <h4>Email: <%=user.email%></h4>
                                    <h4>Password: *******</h4>
                                    <h4>Phone: <%=user.phone%></h4>
                                    <h4>Address: <%=user.address%></h4>
                                    <h4>Age: <%=user.age%></h4>
                                    <h4>Eye Color: <%=user.eyeColor%></h4>

                                    <hr>
                                    <h4><small style="font-family:courier,'new courier';" class="text-muted"><a href="/User/edit" class="text-muted">Edit Information</a></small></h4>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <hr>
                    <!--/books-->

                </div>
            </div>



        </div><!--/col-12-->
    </div>
</div>


<hr>

<hr>

<% include partials/personalButtons%>

<hr>

<% include partials/footer%>

</body>
</html>